extends _layout
block title
  title Hello, world!
block content
  main
    #carouselExampleIndicators(class=["carousel","slide"],data-ride="carousel")
    div
      h1 Hello, world!
      include include/_includetest.pug
    img(src="./img/logo.png", alt="logo" width=100)
