extends _layout
block title
  title Hello, world!
block content
  main
    #carouselExampleIndicators(class=["carousel","slide"],data-ride="carousel")
      ol(class="carousel-indicators")
        li(data-target="#carouselExampleIndicators", data-slide-to="0", class="active")
        li(data-target="#carouselExampleIndicators" data-slide-to="1")
        li(data-target="#carouselExampleIndicators" data-slide-to="2")
        -
          var slides = [
            {
              slideName: 'First slide'
              slideClass: 'carousel-item Active'
            },
            {
              slideName: 'Second slide'
              slideClass: 'carousel-item'
            },
            {
              slideName: 'Third slide'
              slideClass: 'carousel-item'
            }
          ]
          
        .carousel-inner
        each val in slides
          div(class='#{slides.slideClass})
            svg(class=["bd-placeholder-img","bd-placeholder-img-lg","d-block","w-100"],width="800",height="400",xmlns="http://www.w3.org/2000/svg", preserveAspectRatio="xMidYMid slice",focusable="false",role="img",aria-label="Placeholder: #{slides.slideName}")
              title Placeholder
              rect(width="100%",height="100%",fill="#777")
              text(x="50%",y="50%",fill="#555" dy=".3em") #{slides.slideName}
            
    div
      h1 Hello, world!
      include include/_includetest.pug
      img(src="./img/logo.png", alt="logo" width=100)
    div(class=["card","card-box"],style=["width: 18rem;"])
      svg(class=["bd-placeholder-img","card-img-top"],width="100%",height="180",xmlns="http://www.w3.org/2000/svg",preserveAspectRatio="xMidYMid slice",focusable="false",role="img",aria-label="Placeholder: Image cap")
        title Placeholder
        rect(width="100%",height="100%",fill="#868e96")
        text(x="50%",y="50%",fill="#dee2e6",dy=".3em") Image cap
      .card-body